body {
    background: #00D4FF;
    background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgba(29, 29, 191, 1) 60%, rgba(13, 49, 133, 1) 100%);
}

h1 {
    background-color: #471414;
    color: #95c8e6;
    font-size: 100;
}

p {color: #471414;
    background-color: bisque;
    font-size: large;
    font-style: inherit
}