body {
    
background: linear-gradient(to right, #6190e8, #a7bfe8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {

    color: #030438de;
    font-size: 100;
    font-family: "Pacifico", cursive ;
    text-align: center;
    text-decoration: underline;
}

p {color: #471414;
    font-family: "Smooch Sans", sans-serif;
    text-align: center;
    
}
img{
    height:100px ;
    width: 100px; ;
    align-items: center;
display: flex;
}
